<form method="get" class="row mb-3">
    <div class="col-md-3">
        <label for="type-filter" class="form-label">{{ 'type'|trans }}</label>
        <select id="type-filter" name="tipo" class="form-select" data-placeholder="{{ 'all_types'|trans }}">
            <option value="">{{ 'all_types'|trans }}</option>
            {% for type in types %}
                <option value="{{ type }}" {% if type == app.request.get('tipo') %}selected{% endif %}>
                    {{ type }}
                </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-3 d-flex align-items-end">
        <button class="btn btn-outline-dark btn-sm" onclick="resetForm(this.form); this.form.submit();">{{ 'reset'|trans }}</button>
    </div>
</form>
