{% extends "_layouts/blank.html.twig" %}

{% block title %}
    {{ 'control_panel'|trans }} - {{ 'cities'|trans }}
{% endblock %}

{% block content %}
    {% include 'regmel/admin/municipality/_partials/modal-edit.html.twig' %}

    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow" style="overflow-x: visible;">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h2>
                                    {% if context_title == 'my_municipalities' %}
                                        {{ 'my_municipalities'|trans }}
                                    {% else %}
                                        {{ 'organizations'|trans }}
                                    {% endif %}
                                </h2>
                            </div>
                            <div class="col text-end">
                                {% if env.aurora.dashboard.cards.municipalities.csv == true %}
                                    <a href="{{ path('admin_regmel_municipality_list_download', app.request.query.all) }}" class="btn btn-secondary">
                                        {{ 'export_csv'|trans }}
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                            {% include 'regmel/_components/list-filters.html.twig' %}
                        {% endif %}

                        <div style="width: 100%; overflow-x: auto;">
                            <table class="js-grid table table-hover table-striped w-100" style="min-width: 1200px;">
                                <thead class="table-dark">
                                <tr>
                                    <th>{{ 'photo'|trans }}</th>
                                    <th>{{ 'name'|trans }}</th>
                                    <th>{{ 'description'|trans }}</th>
                                    <th>{{ 'email'|trans }}</th>
                                    <th>{{ 'site'|trans }}</th>
                                    <th>{{ 'created_by'|trans }}</th>
                                    <th>{{ 'created_at'|trans }}</th>
                                    <th>{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for municipality in municipalities %}
                                    <tr>
                                        <td>
                                            <img src="{{ municipality.image ?? asset('img/city.png') }}"
                                                 width="40px"
                                                 class="rounded-circle"
                                                 alt=""/>
                                        </td>
                                        <td>
                                            <a href="{{ path('admin_regmel_municipality_details', {id: municipality.id}) }}">
                                                {{ municipality.name }}-{{ municipality.extraFields.state }}
                                            </a>
                                        </td>
                                        <td>{{ municipality.description }}</td>
                                        <td>{{ municipality.extraFields.email ?? '' }}</td>
                                        <td>{{ municipality.extraFields.site ?? '' }}</td>
                                        <td>
                                            {{ municipality.createdBy is defined and municipality.createdBy is not null
                                            ? municipality.createdBy.name
                                            : '-' }}
                                        </td>
                                        <td>{{ municipality.createdAt|date('d/m/Y H:i:s') }}</td>
                                        <td style="position: relative;">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-warning btn-sm dropdown-toggle"
                                                        type="button"
                                                        id="dropdownMenu{{ municipality.id }}"
                                                        data-bs-toggle="dropdown"
                                                        aria-expanded="false">
                                                    {{ 'actions'|trans }}
                                                </button>
                                                <ul class="dropdown-menu w-auto text-nowrap"
                                                    aria-labelledby="dropdownMenu{{ municipality.id }}">
                                                    <li>
                                                        <a href="#"
                                                           class="dropdown-item edit-organization"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#modalEditOrganization"
                                                           data-id="{{ municipality.id }}"
                                                           data-token="{{ token }}">
                                                            {{ 'edit'|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="8" class="text-center">{{ 'no_data_found'|trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/grid-init.js') }}"></script>
    <script src="{{ asset('js/form-utils.js') }}"></script>
    <script type="module" src="{{ asset('js/load-filters.js') }}"></script>
{% endblock %}
