{% extends "_layouts/blank.html.twig" %}

{% block title %}{{ 'control_panel'|trans }} - {{ 'companies'|trans }}{% endblock %}

{% block content %}
    {% include '_components/modal-confirm-remove.html.twig' %}
    {% include 'regmel/admin/company/_partials/modal-edit.html.twig' %}

    <section class="d-flex">
        {% include "_components/side-bar.html.twig" %}

        <div class="management-content w-100 p-4">
            <div class="row">
                <div class="col-12">
                    <div class="card card-body shadow" style="overflow-x: visible;">
                        <div class="row justify-content-between">
                            <div class="col">
                                <h2>{{ 'companies'|trans }}</h2>
                            </div>
                            <div class="col text-end">
                                <a href="{{ path('admin_regmel_company_list_download', app.request.query.all) }}"
                                   class="btn btn-secondary">
                                    {{ 'export_csv'|trans }}
                                </a>
                            </div>
                        </div>

                        <hr>

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
                            {% include 'regmel/admin/company/_partials/list-filters.html.twig' %}
                        {% endif %}

                        <div style="width: 100%; overflow-x: auto;">
                            <table class="js-grid table table-hover table-striped w-100" style="min-width: 1200px;">
                                <thead class="table-dark">
                                <tr>
                                    <th>{{ 'name'|trans }}</th>
                                    <th>{{ 'type'|trans }}</th>
                                    <th>{{ 'description'|trans }}</th>
                                    <th>{{ 'cnpj'|trans }}</th>
                                    <th>{{ 'phone'|trans }}</th>
                                    <th>{{ 'site'|trans }}</th>
                                    <th>{{ 'created_by'|trans }}</th>
                                    <th>{{ 'created_at'|trans }}</th>
                                    <th>{{ 'actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for company in companies %}
                                    {% set label = company.extraFields.tipo == 'Empresa' ? 'bg-dark' : 'bg-info' %}
                                    <tr>
                                        <td>
                                            <a href="{{ path('admin_regmel_company_details', {id: company.id}) }}">
                                                {{ company.name }}
                                            </a>
                                        </td>
                                        <td>
                                                <span class="badge {{ label }}">
                                                    {{ company.extraFields.tipo ?? '-' }}
                                                </span>
                                        </td>
                                        <td>{{ company.description ?? '-' }}</td>
                                        <td>{{ company.extraFields.cnpj ?? '-' }}</td>
                                        <td>{{ company.extraFields.telefone ?? '-' }}</td>
                                        <td>
                                            {% if company.extraFields.site %}
                                                <a href="{{ company.extraFields.site }}" target="_blank">
                                                    {{ company.extraFields.site }}
                                                </a>
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>{{ company.createdBy.name ?? '-' }}</td>
                                        <td>{{ company.createdAt|date('d/m/Y H:i:s') }}</td>
                                        <td style="position: relative;">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-warning btn-sm dropdown-toggle"
                                                        type="button"
                                                        id="dropdownMenu{{ company.id }}"
                                                        data-bs-toggle="dropdown"
                                                        data-bs-display="static"
                                                        data-bs-flip="false"        {# desabilita o flip #}
                                                        aria-expanded="false">
                                                    {{ 'actions'|trans }}
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end"
                                                    aria-labelledby="dropdownMenu{{ company.id }}"
                                                    style="--bs-dropdown-min-width: 0; width: auto;">
                                                    <li>
                                                        <a href="#"
                                                           class="dropdown-item edit-company"
                                                           data-bs-toggle="modal"
                                                           data-bs-target="#modalEditCompany"
                                                           data-id="{{ company.id }}"
                                                           data-token="{{ token }}">
                                                            {{ 'edit'|trans }}
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9" class="text-center">{{ 'no_data_found'|trans }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block extra_javascripts %}
    {{ parent() }}
    <script type="module" src="{{ asset('js/grid-init.js') }}"></script>
    <script src="{{ asset('js/form-utils.js') }}"></script>
    <script type="module" src="{{ asset('js/load-filters.js') }}"></script>
{% endblock %}
