{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'register'|trans }} {% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row mb-3">
            <a href="{{ path('web_home_homepage') }}" class="nav-link text-primary">
                <i class="material-icons align-middle">arrow_back</i>
                {{ 'back'|trans }}
            </a>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold fs-3">{{ 'register'|trans }}</h1>
                    </div>

                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">

                            <input type="hidden" name="type" value="register">

                            {% include "regmel/invite/_partials/user-data.html.twig" %}

                            {% include "regmel/invite/_partials/accept-terms.html.twig" %}

                            <div class="alert alert-danger d-none" id="error-message"></div>

                            <div class="btn-form-group">
                                <button class="btn btn-primary" type="submit">
                                    {{ 'save' | trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script type="module" src="{{ asset('js/regmel/register.js') }}"></script>
{% endblock %}
