<section class="row">
    {% for key, item in env.aurora.dashboard.cards %}
        {% set hasAccess = false %}

        {% for role in app.user.roles %}
            {% if role in item.acl %}
                {% set hasAccess = true %}
            {% endif %}
        {% endfor %}

        {% if hasAccess == true %}
        <div class="col-lg-3 col-sm-5">
            <div class="card-dashboard" data-cy="{{ key }}-card-dashboard">
                <div class="d-flex align-items-center">
                    <div class="bg-card-dashboard" style="--bg-dashboard-color: {{ item.color }}">
                        <i class="material-icons">{{ item.icon }}</i>
                    </div>
                    <span class="fw-bold fs-5">{{ item.title | trans }}</span>
                </div>
                <div class="align-self-center d-flex flex-column align-items-center gap-0">
                    <span class="fw-bold fs-1">{{ totals[item.total_key] }}</span>
                    <span class="fw-bold">{{ item.subtitle | trans }}</span>
                </div>
                <a role="button" href="{{ path(item.action.route) }}" class="d-flex align-items-center justify-content-center">
                    <i class="material-icons">{{ item.action.text }}</i>
                    <span class="fs-5 fw-bold">{{ item.action.text | trans }}</span>
                </a>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</section>
