<h3>{{ 'company_data' | trans }}</h3>

<div class="row">
    <div class="col-12 mb-3">
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="type-company" name="type" value="Empresa" checked>
            <label for="type-company" class="form-check-label">{{ 'company' | trans }}</label>
        </div>
        <div class="form-check form-check-inline">
            <input type="radio" class="form-check-input" id="type-entity" name="type" value="Entidade">
            <label for="type-entity" class="form-check-label">{{ 'entity' | trans }}</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6 mb-3">
        <label for="cnpj" class="form-label">{{ 'view.company.cnpj' | trans }}</label>
        <input type="text" class="form-control" id="cnpj" name="cnpj" placeholder={{ 'view.company.cnpj' | trans}} required>
    </div>
    <div class="col-6 mb-3">
        <label for="framework" class="form-label">{{ 'view.company.framework' | trans }}</label>
        <select class="form-select" id="framework" name="framework">
            <option value="">{{ 'select' | trans }}</option>
            <option value="profit">{{ 'organization_with_profit' | trans }}</option>
            <option value="no_profit">{{ 'organization_without_profit' | trans }}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-6 mb-3">
        <label for="name" class="form-label">{{ 'view.company.name' | trans }}</label>
        <input type="text" class="form-control" id="name" name="name" placeholder={{ 'view.company.name' | trans}} required>
    </div>
    <div class="col-6 mb-3">
        <label for="email" class="form-label">{{ 'view.company.email' | trans }}</label>
        <input type="email" class="form-control" id="email" name="email" placeholder={{ 'view.company.email' | trans}} required>
    </div>
</div>

<div class="row">
    <div class="col-6 mb-3">
        <label for="site" class="form-label">{{ 'view.company.site' | trans }}</label>
        <input type="text" class="form-control" id="site" name="site" placeholder={{ 'view.company.site' | trans}} required>
    </div>
    <div class="col-6 mb-3">
        <label for="phone" class="form-label">{{ 'view.company.phone' | trans }}</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder={{ 'view.company.phone' | trans}} required>
    </div>
</div>
