{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %} {{ 'organization_register'|trans }} {% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row mb-1">
            <a href="{{ path('web_home_homepage') }}" class="nav-link text-primary">
                <i class="material-icons align-middle">arrow_back</i>
                {{ 'back'|trans }}
            </a>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h1 class="fw-bold fs-3">{{ 'organization_register'|trans }}</h1>
                    </div>

                    <div class="card-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            <input type="hidden" name="token" value="{{ csrf_token(form_id) }}">

                            {% if errors is defined and errors is not empty %}
                                <div class="alert alert-danger">
                                    {% for error in errors %}
                                        <p>{{ error.message }}</p>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="alert alert-danger d-none" id="error-message"></div>
                            {% endif %}

                            <label for="opportunity">{{ 'view.authentication.register.opportunity_type'|trans }}</label>
                            <select name="opportunity" id="opportunity" required class="form-select mt-1 mb-3">
                                {% for opportunity in opportunities %}
                                    <option value="{{ opportunity.id }}">{{ opportunity.name }}</option>
                                {% else %}
                                    <option selected disabled value="">{{ 'view.authentication.register.no_opportunities'|trans }}</option>
                                {% endfor %}
                            </select>
                            <hr>

                            {% include "regmel/register/_partials/user-data.html.twig" %}

                            {% include "regmel/register/_partials/organization-data.html.twig" %}

                            {% include "regmel/register/_partials/accept-terms.html.twig" %}

                            <div class="btn-form-group">
                                <button class="btn btn-primary w-100 btn-lg" type="submit">
                                    {{ 'save' | trans }}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_javascripts %}
    <script>
        window.SNP_EMAIL = "{{ env.aurora.email.address }}";
    </script>
    <script type="module" src="{{ asset('js/load-cities.js') }}"></script>
    <script type="module" src="{{ asset('js/check-duplicate-city.js') }}"></script>
    <script type="module" src="{{ asset('js/regmel/register.js') }}"></script>
{% endblock %}
