{% extends "_layouts/blank.html.twig" %}

{% block title %}
    {{ 'view.phase.out_of_period'|trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/success-registration.css') }}">
{% endblock %}

{% block content %}
    <div class="success-card">
        <div class="success-card container mt-5">
            <div class="card text-center shadow-lg">
                <div class="card-body">
                    <span class="iconify text-success" data-icon="" data-width="80" data-height="80"></span>
                    <h3 class="card-title mt-3">{{ 'view.phase.out_of_period'|trans }}</h3>
                    <p class="card-text">
                        {{ 'view.phase.text_out_of_period'|trans }}
                    </p>
                    <a href="{{ path('web_home_homepage') }}" class="btn btn-primary btn-lg mt-3">
                        <i class="material-icons align-middle">arrow_back</i>
                        {{ 'back'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
