<form id="space-edit-form" method="POST" class="entity-edit-form" enctype="multipart/form-data">
    <input type="hidden" name="token" value="">

    <input type="hidden" name="company" value="{{ company.id }}">

    <div class="accordion accordion-flush accordion-cards mt-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne">
                    Identificação da Proposta
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                <div class="accordion-body">
                    <span class="responsive-size">{{ 'public_data_notice' | trans }}</span>
                    <hr>

                    <div class="mt-4 mb-2 text-primary">
                        <strong>Selecione o Municipio</strong>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label for="region" class="form-label">{{ 'region'|trans }}</label>
                            <select id="region" required name="region" class="form-select">
                                <option value="" selected>{{ 'select'|trans }}</option>
                                {% for region in regions %}
                                    <option value="{{ region.value }}">
                                        {{ region.value }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="state" class="form-label">{{ 'state'|trans }}</label>
                            <select id="state" required name="state" class="form-select">
                                <option value="">{{ 'select'|trans }}</option>
                                {% for state in states %}
                                    <option value="{{ state.id }}">
                                        {{ state.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-3">
                            <label for="city" class="form-label">{{ 'city'|trans }}</label>
                            <select id="city" required name="city" class="form-select">
                                <option value="">{{ 'select'|trans }}</option>
                            </select>
                        </div>
                    </div>
                    <hr>

                    <div class="mt-4 mb-2 text-primary fw-bold">
                        <label for="name">Nome da Área de Intervenção</label>
                    </div>
                    <input id="name" name="name" placeholder="Digite aqui" type="text" class="form-control">

                    <hr>

                    <div class="mt-4 mb-2 text-primary">
                        <strong>A área é caracterizada como:</strong>
                    </div>
                    <div class="alert alert-info">
                        <input type="radio" required value="option_1" name="area_characteristic" id="option_1">
                        <label for="option_1">{{ env.aurora.proposals.area_characteristics.option_1 }}</label>
                    </div>

                    <div class="alert alert-info">
                        <input type="radio" required value="option_2" name="area_characteristic" id="option_2">
                        <label for="option_2">{{ env.aurora.proposals.area_characteristics.option_2 }}</label>
                    </div>

                    <div class="alert alert-info">
                        <input type="radio" required value="option_3" name="area_characteristic" id="option_3">
                        <label for="option_3">{{ env.aurora.proposals.area_characteristics.option_3 }}</label>
                    </div>

                    <div class="alert alert-info">
                        <input type="radio" required value="option_4" name="area_characteristic" id="option_4">
                        <label for="option_4">{{ env.aurora.proposals.area_characteristics.option_4 }}</label>
                    </div>

                    <hr>

                    <div class="mt-4 mb-2 text-primary">
                        <strong>Uploads</strong>
                    </div>

                    <div class="row">
                        <div class="col">
                            <label for="map" class="form-label">Mapa Poligonal (PDF/JPG)</label>
                            <input type="file" id="map" name="map" class="form-control"/>
                        </div>

                        <div class="col">
                            <label for="project" class="form-label">Anexo (KMZ/KML/Shapefiles)</label>
                            <input type="file" id="project" name="project" class="form-control"/>
                        </div>
                    </div>

                    <hr>

                    <div class="mt-4 mb-2 text-primary">
                        <strong>Outras Informações</strong>
                    </div>

                    <div class="row">
                        <div class="col-7">
                            <div class="row">
                                <div class="col">
                                    <label for="area_size" class="form-label">Área estimada da Poligonal (m2)</label>
                                    <input type="text" min="0" id="area_size" placeholder="0" name="area_size" class="form-control"/>
                                </div>

                                <div class="col">
                                    <label for="quantity_houses" class="form-label">Número de Domicílios (<span>min 20 / max 120</span>)</label>
                                    <input oninput="atualizarValor()" placeholder="0" max="120" type="number" min="20" id="quantity_houses" name="quantity_houses" class="form-control"/>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col">
                                    <div class="alert alert-success">
                                        <strong>Valor Global da Proposta: </strong>R$ <span id="x">0</span>
                                        <hr>
                                        <small><strong>Número de Domicilios</strong> * <strong>R$ {{ env.aurora.variables.price_per_household|number_format(2, ',', '.') }}</strong> (custo médio por domicílio)</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <span class="form-label d-block">Termos</span>

                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="acceptTerms" name="acceptTerms" required>
                                <label for="acceptTerms" class="form-check-label">
                                    DECLARO QUE CONSULTEI O MUNICIPIO <br>
                                    A formulação da proposta deverá ser precedida de consulta ao Município ou Distrito Federal, com vistas a pactuar a escolha e a estratégia de regularização fundiária a ser adotada.
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>

<script>
    function atualizarValor() {
        let value = parseInt(document.getElementById('quantity_houses').value)

        if (true !== isNaN(value)) {
            document.getElementById('x').innerHTML = (
                parseInt(document.getElementById('quantity_houses').value) * {{ env.aurora.variables.price_per_household }}
            ).toLocaleString('pt-BR') + ',00';
        } else {
            document.getElementById('x').innerHTML = 0;
        }
    }
</script>