<h3>{{ 'organization_data' | trans }}</h3>

<div class="row">
    <div class="col-6 mb-3">
        <label for="state" class="form-label">{{ 'state' | trans }}</label>
        <select class="form-select" id="state">
            <option value="">{{ 'select' | trans }}</option>
            {% for state in states %}
                <option value="{{ state.id }}">{{ state.name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-6 mb-3">
        <label for="city" class="form-label">{{ 'city' | trans }}</label>
        <select class="form-select" id="city" name="city" required>
            <option value="">{{ 'select' | trans }}</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-6 mb-3">
        <label for="site" class="form-label">{{ 'view.organization.site' | trans }}</label>
        <input type="text" class="form-control" id="site" name="site" placeholder={{ 'view.organization.site' | trans}} required>
    </div>
    <div class="col-6 mb-3">
        <label for="phone" class="form-label">{{ 'view.organization.phone' | trans }}</label>
        <input type="tel" class="form-control" maxlength="16" data-mask="phone" id="phone" name="phone" placeholder={{ 'view.organization.phone' | trans}} required>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label for="email" class="form-label">{{ 'view.organization.email' | trans }}</label>
        <input type="email" class="form-control" id="email" name="email" placeholder={{ 'view.organization.email' | trans}} required>
    </div>
</div>

<div class="row">
    <div class="col-12 mb-3">
        <label for="joinForm" class="form-label">
            {{ 'view.organization.file' | trans}}
            <a class="ms-3" href="/files/adesao-ao-programa.docx" download>{{ 'view.organization.download_form_model' | trans }}</a>
        </label>
        <input class="form-control" type="file" id="joinForm" name="joinForm" accept="application/pdf" required>
        <div class="form-text">
            {{ 'view.organization.pdf_advice' | trans}}
        </div>
        <div class="form-text">
        </div>
    </div>
</div>

<hr>
