{% extends "_layouts/blank-not-logged.html.twig" %}

{% block title %}
    {{ 'view.forbidden.title' | trans }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/pages/not-found.css') }}">
{% endblock %}

{% block content %}
    <div class="body-not-found">
        <div class="error-container">
            <div class="error-text">
                <h1>{{ 'view.forbidden.error-403' | trans }}</h1>
                <h2>{{ 'view.forbidden.error-title' | trans }}</h2>
                <p>{{ 'view.forbidden.error-text_first' | trans }}</p>
                <p>{{ 'view.forbidden.error-text_second' | trans }}</p>
                <a href="{{ path('admin_dashboard') }}" class="btn btn-primary">{{ 'view.forbidden.error-dashboard' | trans }}</a>
            </div>
            <img src="{{ asset('img/error.png') }}" alt="{{ 'view.forbidden.error-image' | trans }}">
        </div>
    </div>
{% endblock %}
