<nav class="navbar navbar-expand-xxl bg-body-tertiary sticky-top px-4 py-4">
    <div class="container-fluid">
        <div class="navbar-brand-toogle">
            <button class="navbar-toggler" type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="" href="{{ path('web_home_homepage') }}">
                <img src="{{ asset(env.aurora.logo.horizontal.path) }}" width="{{ env.aurora.logo.horizontal.width }}" alt="">
            </a>
        </div>

        <div class="offcanvas offcanvas-start text-white" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header shadow-sm">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav nav-entities fs-5 flex-grow-1 pe-3">
                    {% set current_route = app.request.attributes.get('_route')%}
                    {% for route, item in env.aurora.navbar %}
                        {% set activeClass = (current_route == route) ? 'active' : '' %}
                        <li class="nav-item">
                            <a class="nav-link" style="--hover-color: {{ item.color }};" aria-current="page" href="{{ path(route) }}">
                                <i class="material-icons navbar-icons {{ activeClass }}">{{ item.icon }}</i>
                                <p class="{{ activeClass }}">{{ item.text | trans }}</p>
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                {% if app.user.name is defined %}
                    <div class="dropdown notifications-login">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton">
                            <span>{{ app.user.name|split(' ')|first }}</span>
                            <img src="{{ asset(app.user.image ?? 'img/allan.png') }}" alt="{{ 'profile-picture'|trans }}" class="profile-picture">
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" id="customDropdown">
                            <div class="dropdown-content">
                                <div class="menu-column w-100">
                                    <div class="dropdown-header">{{ 'control_panel' | trans }}</div>
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                                        <i class="material-icons">touch_app</i> {{ 'control_panel' | trans }}
                                    </a>
                                    <div class="dropdown-header">{{ 'footer.notices_opportunities' | trans }}</div>
                                    <a class="dropdown-item" href="{{ path('admin_opportunity_list') }}">
                                        <i class="material-icons">lightbulb</i> {{ 'my_opportunities' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_registration_list') }}">
                                        <i class="material-icons">assignment</i> {{ 'my_subscriptions' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                                        <i class="material-icons">grading</i> {{ 'my_reviews' | trans }}
                                    </a>
                                    <div class="dropdown-header">{{ 'management' | trans }}</div>
                                    <a class="dropdown-item" href="{{ path('admin_agent_list') }}">
                                        <i class="material-icons">group</i> {{ 'my_agents' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_space_list') }}">
                                        <i class="material-icons">domain</i> {{ 'my_spaces' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_event_list') }}">
                                        <i class="material-icons">event</i> {{ 'my_events' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_initiative_list') }}">
                                        <i class="material-icons">article</i> {{ 'my_initiatives' | trans }}
                                    </a>
                                </div>
                                <div class="menu-column w-100">
                                    <div class="dropdown-header">{{ 'other_options' | trans }}</div>
                                    <a class="dropdown-item" href="{{ path('admin_user_account_privacy', {id: app.user.id}) }}">
                                        <i class="material-icons">settings</i> {{ 'account_privacy' | trans }}
                                    </a>
                                    <a class="dropdown-item" href="{{ path('admin_dashboard') }}">
                                        <i class="material-icons">person</i> {{ 'my_profile' | trans }}
                                    </a>
                                    <a class="dropdown-item text-danger" href="{{ path('_logout_web') }}">
                                        <i class="material-icons">logout</i> {{ 'logout' | trans }}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="notifications-login">
                        <a href="{{ path('web_auth_login') }}" class="nav-btn-login">{{ 'login'|trans }}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
